<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.schenk.jrtrace.ui.category"
            class="de.schenk.jrtrace.ui.wizard.NewProjectWizard"
            hasPages="true"
            icon="icons/jrtrace_icon_16px.gif"
            id="de.schenk.jrtrace.ui.wizard.project.new"
            name="New JRTrace Project"
            project="true">
      </wizard>
      <category
            id="de.schenk.jrtrace.ui.category"
            name="JRTrace">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.schenk.jrtrace.ui.launch.JRTraceLaunchDelegate"
            id="de.schenk.jrtrace.ui.launch"
            modes="run, debug"
            name="JRTrace Launch"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.schenk.jrtrace.ui.launch.LaunchTabGroup"
            id="de.schenk.jrtrace.ui.launch.tabgroup"
            type="de.schenk.jrtrace.ui.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="de.schenk.jrtrace.ui.commands.installhelperjar"
               icon="icons/run_java_16.gif"
               id="de.schenk.jrtrace.ui.popup.runjava"
               label="Run static method of a JRTrace class"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <with
                        variable="jrtraceSessionActive">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.schenk.jrtrace.ui.toolbar"
               label="JRTrace Toolbar">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <with
                        variable="jrtraceSessionActive">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </iterate>
            </visibleWhen>
        
            <command
                  commandId="de.schenk.jrtrace.ui.commands.runjava"
                  icon="icons/run_java_16.gif"
                  id="de.schenk.jrtrace.ui.popup.runjava"
                  label="Run a class from Java Project"
                  style="push">
               <visibleWhen>
                  <iterate
                        ifEmpty="false">
                     <with
                           variable="jrtraceSessionActive">
                        <equals
                              value="true">
                        </equals>
                     </with>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="de.schenk.jrtrace.ui.commands.runenginex"
                  icon="icons/upload_java_16.gif"
                  id="de.schenk.jrtrace.ui.popup.runenginex"
                  label="Deploy the selected java project as JRTrace project into the target"
                  style="push">
               <visibleWhen>
                  <iterate
                        ifEmpty="false">
                     <with
                           variable="jrtraceSessionActive">
                        <equals
                              value="true">
                        </equals>
                     </with>
                  </iterate>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="de.schenk.jrtrace.ui.commands.runenginex"
               icon="icons/upload_java_16.gif"
               id="de.schenk.jrtrace.ui.popup.runenginex"
               label="Deploy the project as JRTrace project in the target"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <with
                        variable="jrtraceSessionActive">
                     <equals
                           value="true">
                     </equals>
                  </with>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.schenk.jrtrace.ui.category"
            name="JRTrace">
      </category>
      <command
            categoryId="de.schenk.jrtrace.ui.category"
            defaultHandler="de.schenk.jrtrace.ui.handler.InstallHelperJarHandler"
            description="Installs the classes of this java project as helper jar into the current jrtrace connections"
            id="de.schenk.jrtrace.ui.commands.installhelperjar"
            name="Install Helper Jar">
      </command>
    
      <command
            categoryId="de.schenk.jrtrace.ui.category"
            defaultHandler="de.schenk.jrtrace.ui.handler.RunJavaHandler"
            description="Invoke a static method on any JRTrace class"
            id="de.schenk.jrtrace.ui.commands.runjava"
            name="Run Java in Target">
      </command>
            <command
            categoryId="de.schenk.jrtrace.ui.category"
            defaultHandler="de.schenk.jrtrace.ui.handler.RunEngineXHandler"
            description="Installs the selected project as JRTrace project into the target"
            id="de.schenk.jrtrace.ui.commands.runenginex"
            name="Run Project as JRTrace project in Target">
      </command>
   
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.schenk.jrtrace.ui"
            name="JRTrace">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.schenk.jrtrace.ui.launch"
            icon="icons/jrtrace_icon_16px.gif"
            id="de.schenk.jrtrace.ui.jrtraceLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   
<extension point="org.eclipse.jdt.core.classpathContainerInitializer">            
   <classpathContainerInitializer                                          
      id="de.schenk.jrtrace.JRTRACE_CONTAINER"                                                        
      class="de.schenk.jrtrace.ui.java.JRTraceClasPathContainerInitializer"/>                           
</extension>
<extension
      point="org.eclipse.jdt.ui.classpathContainerPage">
   <classpathContainerPage
         class="de.schenk.jrtrace.ui.java.JRTraceClassPathContainerPage"
          id="de.schenk.jrtrace.ui.classpathContainerPage"
         name="JRTrace Libraries">
   </classpathContainerPage>
</extension>
<extension
      id="de.schenk.jrtrace.core.problemmarker"
      name="JRTrace Problem"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>

<extension
      point="org.eclipse.core.contenttype.contentTypes">
   
</extension>

<extension point="org.eclipse.ui.editors">
</extension>

<extension
      point="org.eclipse.ui.services">
   <sourceProvider
         provider="de.schenk.jrtrace.ui.handler.JRTraceSourceProvider">
         
      <variable
      		
            name="de.schenk.jrtrace.ui.variable1"
            priorityLevel="workbench">
      </variable>
   </sourceProvider>
</extension>
 <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.jdt.internal.debug.ui.console.JavaConsoleTracker"
            regex="\(\S*${java_extensions_regex}\S*\)"
            qualifier="${java_extensions_regex}"
            id="org.eclipse.jdt.debug.ui.JavaConsoleTracker">
         <enablement>
            <or>
			 <instanceof value="de.schenk.jrtrace.ui.debug.JRTraceConsole"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
      </extension>
 <extension
       id="com.schenk.jrtrace.core.problemmarker"
       name="JRTraceProblemMarker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="de.schenk.jrtrace.ui.debug.ConsolePageParticipant"
          id="de.schenk.jrtrace.ui.consolePageParticipant">
        <enablement>
            <instanceof value="de.schenk.jrtrace.ui.debug.JRTraceConsole"/>
         </enablement>
    </consolePageParticipant>
 </extension>

</plugin>
