!SESSION 2015-07-25 11:45:40.924 -----------------------------------------------
eclipse.buildId=4.4.2.M20150204-1700
java.version=1.8.0_31
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Framework arguments:  -version 3 -port 58836 -testLoaderClass org.eclipse.jdt.internal.junit4.runner.JUnit4TestLoader -loaderpluginname org.eclipse.jdt.junit4.runtime -test de.schenk.jrtrace.enginex.testscripts.EngineXDiagnosticsTest:testCorrectMessageForExcludedClass -application org.eclipse.pde.junit.runtime.uitestapplication -product org.eclipse.platform.ide -testpluginname de.schenk.jrtrace.service.test
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -consoleLog -version 3 -port 58836 -testLoaderClass org.eclipse.jdt.internal.junit4.runner.JUnit4TestLoader -loaderpluginname org.eclipse.jdt.junit4.runtime -test de.schenk.jrtrace.enginex.testscripts.EngineXDiagnosticsTest:testCorrectMessageForExcludedClass -application org.eclipse.pde.junit.runtime.uitestapplication -product org.eclipse.platform.ide -data C:\Users\CDLK\workspaces\luna/../junit-workspace -dev file:C:/Users/CDLK/workspaces/luna/.metadata/.plugins/org.eclipse.pde.core/Rerun de.schenk.jrtrace.enginex.testscripts.EngineXDiagnosticsTest.testCorrectMessageForExcludedClass/dev.properties -os win32 -ws win32 -arch x86_64 -consoleLog -testpluginname de.schenk.jrtrace.service.test

!ENTRY org.eclipse.jface 2 0 2015-07-25 11:45:45.712
!MESSAGE Keybinding conflicts occurred.  They may interfere with normal accelerator operation.
!SUBENTRY 1 org.eclipse.jface 2 0 2015-07-25 11:45:45.712
!MESSAGE A conflict occurred for CTRL+6:
Binding(CTRL+6,
	ParameterizedCommand(Command(MyTestSampleAction.commands.sampleCommand,Sample Command,
		,
		Category(MyTestSampleAction.commands.category,Sample Category,null,true),
		org.eclipse.ui.internal.WorkbenchHandlerServiceHandler@76cdafa3,
		,,true),null),
	org.eclipse.ui.defaultAcceleratorConfiguration,
	org.eclipse.ui.contexts.window,,,system)
Binding(CTRL+6,
	ParameterizedCommand(Command(testjdtactrion.commands.sampleCommand,Sample Command,
		,
		Category(testjdtactrion.commands.category,Sample Category,null,true),
		org.eclipse.ui.internal.WorkbenchHandlerServiceHandler@6b27b2d0,
		,,true),null),
	org.eclipse.ui.defaultAcceleratorConfiguration,
	org.eclipse.ui.contexts.window,,,system)
11:46:00.184 Applying rules to class:de/schenk/jrtrace/service/JRTraceMessageListener
11:46:00.194 Writing bytes before/after transformation of class de/schenk/jrtrace/service/JRTraceMessageListener to directory C:\Users\CDLK\AppData\Local\Temp\
11:46:00.194 Applying rules to class:de/schenk/jrtrace/service/VMInfo
11:46:00.210 Writing bytes before/after transformation of class de/schenk/jrtrace/service/VMInfo to directory C:\Users\CDLK\AppData\Local\Temp\
11:46:00.288 JRTraceHelper.addEngineXClass() took 10087 ms.
11:46:04.086 AgentMain.stop(disconnect:false)
