18:03:30.998 Retransforming 4 classes.
18:03:31.000 Applying rules to class:org/eclipse/swt/graphics/Cursor
18:03:31.022 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.ProblemCaseSWTCursor method: doit
18:03:31.026 Writing bytes before/after transformation of class org/eclipse/swt/graphics/Cursor to directory C:\Users\CDLK\AppData\Local\Temp\
18:03:31.058 Applying rules to class:org/eclipse/core/runtime/jobs/Job
18:03:31.065 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.JobInstrument method: test
18:03:31.067 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.JobInstrument method: test
18:03:31.075 Writing bytes before/after transformation of class org/eclipse/core/runtime/jobs/Job to directory C:\Users\CDLK\AppData\Local\Temp\
18:03:31.106 Applying rules to class:de/schenk/jrtrace/enginex/testscripts/EngineXDetailsTest$1
18:03:31.108 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.Test2Script method: test1
18:03:31.110 Writing bytes before/after transformation of class de/schenk/jrtrace/enginex/testscripts/EngineXDetailsTest$1 to directory C:\Users\CDLK\AppData\Local\Temp\
18:03:31.134 Applying rules to class:de/schenk/jrtrace/enginex/testscripts/Test1
18:03:31.137 Writing bytes before/after transformation of class de/schenk/jrtrace/enginex/testscripts/Test1 to directory C:\Users\CDLK\AppData\Local\Temp\
18:03:31.161 EngineXHelper.addEngineXClass() took 465 ms.
18:03:31.163 Applying rules to class:de/schenk/jrtrace/enginex/testscripts/Test31
18:03:31.166 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.Test31Script method: instr2
18:03:31.167 Instrumentations is including call to class: de.schenk.jrtrace.enginex.testclasses.Test31Script method: instr
18:03:31.169 Writing bytes before/after transformation of class de/schenk/jrtrace/enginex/testscripts/Test31 to directory C:\Users\CDLK\AppData\Local\Temp\
18:03:31.241 JRTrace class loaded: de.schenk.jrtrace.enginex.testclasses.Test31Script with classloader de.schenk.enginex.helper.EngineXClassLoader@83e5898
18:03:31.249 AgentMain.stop(disconnect:false)
18:03:31.249 Clear retransform of 5 classes.
18:03:31.250 Retransforming 5 classes.
